SCALP_START_BALANCE=1000
SCALP_MIN_TURNOVER_USD=150000000
SCALP_WORKING_SYMBOLS=3
SCALP_MIN_NET_PROFIT_USD=1
SCALP_RISK_FRACTION=0.005
SCALP_MAX_LEVERAGE=1.0
SCALP_TAKER_FEE_RATE=0.00055
SCALP_MAKER_FEE_RATE=0.00020
SCALP_SLIPPAGE_BPS=1.0
