SCALP_START_BALANCE=1000
SCALP_MIN_TURNOVER_USD=150000000
SCALP_LIQUID_UNIVERSE_SIZE=30
SCALP_WORKING_SYMBOLS=4
SCALP_MAX_ACTIVE_SYMBOLS=8
SCALP_ACTIVE_KEEP_RANK=12
SCALP_ACTIVE_SYMBOL_MIN_SECONDS=600
SCALP_ACTIVE_SYMBOL_IDLE_TIMEOUT_SECONDS=300
SCALP_ACTIVITY_WINDOW_MINUTES=5
SCALP_SCANNER_INTERVAL_SECONDS=60
SCALP_ACTIVITY_REQUEST_CONCURRENCY=2
SCALP_ACTIVITY_REQUEST_PAUSE_SECONDS=0.20
SCALP_MIN_NET_PROFIT_USD=1
SCALP_MIN_NET_REWARD_RISK=1.15
SCALP_RISK_FRACTION=0.005
SCALP_MAX_TOTAL_RISK_FRACTION=0.02
SCALP_MAX_LEVERAGE=1.0
SCALP_MAX_OPEN_POSITIONS=4
SCALP_MAX_DAILY_LOSS_FRACTION=0.03
SCALP_MAX_ENTRY_DRIFT_BPS=8
SCALP_TAKER_FEE_RATE=0.00055
SCALP_MAKER_FEE_RATE=0.00020
SCALP_SLIPPAGE_BPS=1.0
SCALP_PARTIAL_TAKE_ENABLED=true
SCALP_PARTIAL_TAKE_AT_R=1.0
SCALP_PARTIAL_TAKE_FRACTION=0.70
SCALP_RUNNER_TARGET_R=2.5
SCALP_BREAKEVEN_BUFFER_BPS=1.0
SCALP_NO_FOLLOW_THROUGH_SECONDS=20
SCALP_NO_FOLLOW_THROUGH_MAX_MFE_R=0.25
SCALP_EARLY_CUT_AT_R=0.45
SCALP_SETUP_REARM_SECONDS=20
SCALP_SETUP_RESET_WAIT_SECONDS=10
SCALP_ARBITER_INTERVAL_SECONDS=0.25
SCALP_REPLAY_FRAME_SECONDS=1
SCALP_REPLAY_BOOK_DEPTH=16
